<form class="form-inline input-group-append" action="/answer">
  <h3>Ask your coach anything:</h3>
  <input type="text" class="form-control " name="question" placeholder="question?">
  <button class="btn btn-primary" type="submit">Ask</button>
  <%# <input class="primary" type="submit" > %>
</form>