// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: monospace;
  p {
    font-size: 14px;
    margin: 0;
  }
}

.container {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

form {
  margin-top: 50px;
}

.answers {
  margin-top: 50px;
}

.your-question {
  border-left: 6px solid grey;
  padding: 10px;
  margin-bottom: 20px;
}

.coach-response {
  margin-bottom: 20px;
  border-left: 6px solid grey;
  background-color: #fffacb;
  padding: 10px;
}